{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/templates-*/**",
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "useTabs": false,
  "printWidth": 120,
  "trailingComma": "none"
}
